body {
    background-color: #F5F5F5;
    color: #111;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 1.5rem;
    color: #004D40; 
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h2, h3, h4, h5 {
    color: #004D40; 
}

p {
    font-size: 1rem;
}

a {
    color: #004D40;
}

.other-skills h2 {
    color: white !important;
  }

.contact-column a {
    color: white;
}

.contact-column h3 {
    color: white !important;
}

/* Navigation */
nav {
    background-color: #F9A825; 
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

nav a {
    color: #004D40;
    padding: 10px 0;
    text-decoration: none;
}
nav a:hover {
    background-color: #FFF59D; 
    color: #1B5E20; 
    padding: 10px;
    border-radius: 5px; 
}

