/* Main stylesheet for lab07 */

body {
     background-color: #FBF8EF
    color: #B4EBE6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
     color: #80CBC4;
}

   h2, h3, h4, h5 {color:#FBF8EF}
a {
    color: #588B8B;
}

nav {
    background-color: #FFB433;
}

nav a {
    color: #B4EBE6;
    padding: 10px;
}
nav {margin-bottom:30px}

nav a:hover, nav a.active {
    background-color: #B4EBE6;
    color: #FBF8EF;
}

